.hero {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0 5vw;
  color: white;
}

.hero-card {
  font-size: clamp(1rem, 2rem, 3rem);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3%;
  border-radius: 15px;
}
.hero-card > h1 {
  font-size: clamp(2.5rem, 4rem, 5rem);
  color: var(--primary-color);
}

.hero-buttons {
  display: flex;
  gap: 1vw;
  padding: 1vh 0;
}
.hero-buttons button {
  background-color: var(--contrast-color);
  color: white;
  font-weight: bold;
}

@media (max-width: 576px) {
  .hero {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
  .hero-buttons {
    justify-content: center;
  }
}
