.hero {
  height: 100vh;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  padding: 0 5vw;
  color: white;
}

.hero-card {
    font-size: 3rem;
}
.hero-card > h1 {
    font-size: 5rem;
}

.hero-buttons {
    display: flex;
    gap: 1vw;
}