:root {
  --primary-color: #ffc300;
  --contrast-color: #003566;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
Button {
  padding: 1.5vh 2vw;
  background-color: transparent;
  border-radius: 10px;
  border: 0;
}
Button:hover {
    transform: scale(1.05);
    cursor: pointer;
}
